.delete-btn {
  background-color: transparent;
  border: none;
  color: #d9534f;
  padding: 0;
  text-align: left;
  text-decoration: underline;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete-btn.active {
  color: #c9302c;
  text-decoration: none;
}

.delete-btn:hover {
  color: #c9302c;
  text-decoration: none;
}
