body {
    background-color: #F78E1E;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: white;
    text-align: center;
    padding: 20px;
  }
  
  .header h1 {
    font-size: 36px;
    color: #F78E1E;
  }
  
  .tabs {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .tablinks {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 18px;
    background-color: white;
    color: #F78E1E;
    transition: 0.3s;
  }
  
  .tablinks:hover {
    background-color: #F78E1E;
  }  