/* Menu bar */
#nav_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
  border-bottom: 2px solid blue; /* Add border-bottom */
  padding-bottom: 5px; /* Add some padding to create space */
}

#nav_menu li {
  float: left;
}

#nav_menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav_menu li a:hover {
  background-color: #111;
}

#nav_menu .current {
  background-color: yellow;
}

#nav_menu li:last-child {
  border-right: none;
}

/* Fixed position paragraph */
.fixed {
  width: auto;
  position: fixed;
  bottom: 35%;
  right: 0;
  border: 3px solid darkblue;
  background-color: lightskyblue;
  padding: 1.5em;
}

/* Header */
header {
  clear: both;
  border-bottom: 2px solid blue;
  position: relative; /* Add position relative for dotted blue columns */
}

header::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  left: 0;
  right: 0;
  height: 10px;
  border-bottom: 2px dotted blue;
}

/* Aside ol */
aside ol {
  list-style-type: upper-roman;
}

/* Aside ul */
aside ul {
  list-style-type: square;
}

/* Add border-top for footer */
footer {
  border-top: 2px solid blue;
}
