/* Reset default browser styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Set the width of the page and center it horizontally */
body {
	width: 95%;
	margin: 15px auto;
}

/* Style for the navigation bar */
nav {
	background-color: blue;
	overflow: hidden;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111;
}

nav .current {
	background-color: #4CAF50;
}

/* Style for the article */
article {
	width: 75%;
	margin-right: 20%;
}

article h2 {
	margin-top: 30px;
}

article p {
	margin-top: 10px;
	text-indent: 2em;
}

article p:first-of-type:first-letter {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
  }